<div flow-init=""
     flow-files-submitted="$flow.upload()"
     flow-file-success="handleFile( $file, $message, $flow )"
     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
     class="ng-scope">

    <div class="drop" flow-drop="" ng-class="dropClass" flow-drag-enter="style={border:'1px solid green'}" flow-drag-leave="style={}" ng-style="style">
        <span class="btn btn-default" flow-btn="">
            Upload Images
            <input type="file" multiple="multiple" flow-directory ng-show="$flow.supportDirectory" style="visibility: hidden; position: absolute;">
        </span>
        <b>OR</b>
        Drag And Drop your images here
    </div>

    <div style="height:15px"></div>

    <div ng-show="model.length > 0">
        <table class="table table-hover table-bordered table-striped" flow-transfers>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>File name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in model">
                    <td><img ng-src="/uploads/{{file}}" style="max-width:280px;" /></td>
                    <td>{{file}}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-mini btn-danger" ng-click="deleteFile(file)">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clear"></div>
    </div>
</div>