<div>
    {{field.label}}
    <div class="md-radio-list">

        <div class="md-radio" ng-repeat="f in field.fields">
            <input type="radio" id="radio_{{f.name}}" ng-model="chooice.userChoice" value="{{f.name}}" ng-value="f.name" name="radioGroup_{{field.name}}" class="md-radiobtn">
            <label for="radio_{{f.name}}">
                <span></span>
                <span class="check"></span>
                <span class="box"></span>
                {{f.label}}
            </label>
        </div>

    </div>
</div>